<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Fredericka+the+Great&family=Kalam:wght@300;400&family=Lemonada&family=Poiret+One&family=Shadows+Into+Light&family=Sriracha&display=swap" rel="stylesheet">
    <title>index.ejs</title>
</head>
<body>
    
    <div class="topnav">
            <% if (user) { %>
                <a href="/locations/new"<%- title === 'Add Location' ? 'class="active"' : '' %>>
                    Add Location</a>
                <a href="/logout">Log Out</a>
            <% } else { %>
                <a href="/auth/google" class="login">Log In</a>
            <% } %>
          </div>
        
      <h1>Plumage</h1>
      <h3>List of Locations</h3>
     
    <table id="list">
        <tr>
            <th>Location</th>
                <th> State</th>
                <th>City</th>
            </tr>
                <tbody>
                    <% locations.forEach(function(l){ %>
                        <tr>
                            <td><%= l.name %></td>
                            <td><%= l.state %></td>
                            <td><%= l.city %></td>

                            <td><a href="/locations/<%=l._id %>">Details</a></td>
                        </tr>
                    <% }); %>
                </tbody>
            </tr>
        </thead>
    </table>
</section>
</body>
</html>